
/*  ctrl + / 누르면 이렇게 주석이 나옴 */

/* 코드 블럭 선택 후 ctrl + / 하면 해당 블럭 주석 처리 가능 */

/* ctrl + D 누르면 같은 글자 선택가능 */

/* Alt 누르고 방향키 위아래로하면 해당 줄 위치 변경 가능 */

/* ctrl 누르고 좌우로 움직이면 단어 단위로 이동가능 */

/* ctrl + alt 같이 누르면 위아래로 줄 선택가능 */

/* .role_button{
  background-color: red;
} */

/* .menu_button:hover{
     border: 1px solid #ffffff;
     border-radius: 20px;
     padding: 4px 8px;

} */


/* 타이틀 메뉴버튼 시작 */

.start{
  background-image: url("../../data/image/New_GUI/Title_Bt/Title_Start_Bt_01.png") ;
  background-repeat: no-repeat;
  opacity:0.7;
  z-index: 1;
}

.start:hover{

  background-image: url("../../data/image/New_GUI/Title_Bt/Title_Start_Bt_01.png") ;
  opacity: 1;
}
  
.start:active{

  background-image: url("../../data/image/New_GUI/Title_Bt/Title_Start_Bt_01.png") ;
  background-position: 0 5px;
  
}
.load{
  background-image: url("../../data/image/New_GUI/Title_Bt/Title_Load_Bt_01.png") ;
  background-repeat: no-repeat;
  opacity:0.7;
}


.load:hover{

  background-image: url("../../data/image/New_GUI/Title_Bt/Title_Load_Bt_01.png") ;
  opacity: 1;
  
}
.load:active{

  background-image: url("../../data/image/New_GUI/Title_Bt/Title_Load_Bt_01.png") ;
  background-position: 0 5px;
  
}
.gallery{
  background-image: url("../../data/image/New_GUI/Title_Bt/Title_Gallery_Bt_01.png") ;
  background-repeat: no-repeat;
  opacity:0.7;
}


.gallery:hover{

  background-image: url("../../data/image/New_GUI/Title_Bt/Title_Gallery_Bt_01.png") ;
  opacity: 1;
  
}
.gallery:active{

  background-image: url("../../data/image/New_GUI/Title_Bt/Title_Gallery_Bt_01.png") ;
  background-position: 0 5px;
  
}
.config{
  background-image: url("../../data/image/New_GUI/Title_Bt/Title_Config_Bt_01.png") ;
  background-repeat: no-repeat;
  opacity:0.7;
}

.config:hover{

  background-image: url("../../data/image/New_GUI/Title_Bt/Title_Config_Bt_01.png") ;
  opacity: 1;
  
}
.config:active{

  background-image: url("../../data/image/New_GUI/Title_Bt/Title_Config_Bt_01.png") ;
  background-position: 0 5px;
  
}
.exit{
  background-image: url("../../data/image/New_GUI/Title_Bt/Title_Exit_Bt_01.png") ;
  background-repeat: no-repeat;
  opacity:0.7;
}


.exit:hover{

  background-image: url("../../data/image/New_GUI/Title_Bt/Title_Exit_Bt_01.png") ;
  opacity: 1;
  
}
.exit:active{

  background-image: url("../../data/image/New_GUI/Title_Bt/Title_Exit_Bt_01.png") ;
  background-position: 0 5px;
  
}

.gift{
  background-image: url("../../data/image/New_GUI/Test_UI/Test_Giftshop_01.png") ;
  background-repeat: no-repeat;
  opacity:1;
  z-index: 1;
}

.gift:hover{
  background-image: url("../../data/image/New_GUI/Test_UI/Test_Giftshop_02.png") ;
  opacity: 1;
}
  
.gift:active{
  background-image: url("../../data/image/New_GUI/Test_UI/Test_Giftshop_01.png") ;
  background-position: 0 5px;
  
}


.teststart{
  background-image: url("../../data/image/New_GUI/Test_UI/Test_Start_01.png") ;
  background-repeat: no-repeat;
  opacity:1;
  z-index: 1;
}

.teststart:hover{
  background-image: url("../../data/image/New_GUI/Test_UI/Test_Start_02.png") ;
  opacity: 1;
}
  
.teststart:active{
  background-image: url("../../data/image/New_GUI/Test_UI/Test_Start_01.png") ;
  background-position: 0 5px;
  
}
/* 히로인의 비밀쪽지 */

.msgkang{
  background-image: url("../../data/image/New_GUI/Test_UI/Test_Msg_Kang_01.png") ;
  background-repeat: no-repeat;
  opacity:1;
  z-index: 1;
}

.msgkang:hover{
  background-image: url("../../data/image/New_GUI/Test_UI/Test_Msg_Kang_02.png") ;
  opacity:1;
}
  
.msgkang:active{
  background-image: url("../../data/image/New_GUI/Test_UI/Test_Msg_Kang_01.png") ;
  background-position: 0 5px;
  
}

.msgjin{
  background-image: url("../../data/image/New_GUI/Test_UI/Test_Msg_Jin_01.png") ;
  background-repeat: no-repeat;
  opacity:1;
  z-index: 1;
}

.msgjin:hover{
  background-image: url("../../data/image/New_GUI/Test_UI/Test_Msg_Jin_02.png") ;
  opacity:1;
}
  
.msgjin:active{
  background-image: url("../../data/image/New_GUI/Test_UI/Test_Msg_Jin_01.png") ;
  background-position: 0 5px;
  
}

.msgsul{
  background-image: url("../../data/image/New_GUI/Test_UI/Test_Msg_Sul_01.png") ;
  background-repeat: no-repeat;
  opacity:1;
  z-index: 1;
}

.msgsul:hover{
  background-image: url("../../data/image/New_GUI/Test_UI/Test_Msg_Sul_02.png") ;
  opacity:1;
}
  
.msgsul:active{
  background-image: url("../../data/image/New_GUI/Test_UI/Test_Msg_Sul_01.png") ;
  background-position: 0 5px;
  
}
/* 타이틀 메뉴버튼 끝 */

/* .layer.base_fore.layer_fore.layer_camera {

  width: 1492px !important;
  height: 947px !important;
  position: absolute !important;
  left: 250px !important;
  top:70px !important;
} */