
/*  ctrl + / 누르면 이렇게 주석이 나옴 */

/* 코드 블럭 선택 후 ctrl + / 하면 해당 블럭 주석 처리 가능 */

/* ctrl + D 누르면 같은 글자 선택가능 */

/* Alt 누르고 방향키 위아래로하면 해당 줄 위치 변경 가능 */

/* ctrl 누르고 좌우로 움직이면 단어 단위로 이동가능 */

/* ctrl + alt 같이 누르면 위아래로 줄 선택가능 */

/* .role_button{
  background-color: red;
} */

/* .menu_button:hover{
     border: 1px solid #ffffff;
     border-radius: 20px;
     padding: 4px 8px;

} */


/* 타이틀 메뉴버튼 시작 */

.start{
  background-image: url("../../data/image/New_GUI/Title_Bt/Title_Start_Bt_01.png") ;
  background-repeat: no-repeat;
  opacity:0.7;
}

.start:hover{

  background-image: url("../../data/image/New_GUI/Title_Bt/Title_Start_Bt_01.png") ;
  opacity: 1;
}
  
.start:active{

  background-image: url("../../data/image/New_GUI/Title_Bt/Title_Start_Bt_01.png") ;
  background-position: 0 5px;
  
}
.load{
  background-image: url("../../data/image/New_GUI/Title_Bt/Title_Load_Bt_01.png") ;
  background-repeat: no-repeat;
  opacity:0.7;
}


.load:hover{

  background-image: url("../../data/image/New_GUI/Title_Bt/Title_Load_Bt_01.png") ;
  opacity: 1;
  
}
.load:active{

  background-image: url("../../data/image/New_GUI/Title_Bt/Title_Load_Bt_01.png") ;
  background-position: 0 5px;
  
}
.gallery{
  background-image: url("../../data/image/New_GUI/Title_Bt/Title_Gallery_Bt_01.png") ;
  background-repeat: no-repeat;
  opacity:0.7;
}


.gallery:hover{

  background-image: url("../../data/image/New_GUI/Title_Bt/Title_Gallery_Bt_01.png") ;
  opacity: 1;
  
}
.gallery:active{

  background-image: url("../../data/image/New_GUI/Title_Bt/Title_Gallery_Bt_01.png") ;
  background-position: 0 5px;
  
}
.config{
  background-image: url("../../data/image/New_GUI/Title_Bt/Title_Config_Bt_01.png") ;
  background-repeat: no-repeat;
  opacity:0.7;
}


.config:hover{

  background-image: url("../../data/image/New_GUI/Title_Bt/Title_Config_Bt_01.png") ;
  opacity: 1;
  
}
.config:active{

  background-image: url("../../data/image/New_GUI/Title_Bt/Title_Config_Bt_01.png") ;
  background-position: 0 5px;
  
}
.exit{
  background-image: url("../../data/image/New_GUI/Title_Bt/Title_Exit_Bt_01.png") ;
  background-repeat: no-repeat;
  opacity:0.7;
}


.exit:hover{

  background-image: url("../../data/image/New_GUI/Title_Bt/Title_Exit_Bt_01.png") ;
  opacity: 1;
  
}
.exit:active{

  background-image: url("../../data/image/New_GUI/Title_Bt/Title_Exit_Bt_01.png") ;
  background-position: 0 5px;
  
}

/* 타이틀 메뉴버튼 끝 */
